<template>
  <div id="balances" class="notification is-warning" style="width:260px;">
   <div id="balances-content">
    <p class="subtitle is-5">{{ $t("msg.info.total") }}:</p>
    <p class="title" v-bind:class="{'is-2':!smallTitle, 'is-4':smallTitle}">{{total}} EPIC</p>
    <p>{{ $t("msg.info.spendable") }}: {{spendable}}</p>
    <p>{{ $t("msg.unconfirmed") }}: {{unconfirmed}}</p>
    <p>{{ $t("msg.info.unfinalization") }}: {{unfinalization}}</p>
    <p v-if="immature>0">{{ $t("msg.info.immature") }}: {{immature}}</p>
    <p>{{ $t("msg.locked") }}: {{locked}}</p>
	<div style="clear:both"></div>
   </div>
  </div>
</template>

<script>
  import { messageBus } from '@/messagebus'

  export default {
    name: 'summary-info',
    data(){
      return {
        spendable: 0,
        total: 0,
        unconfirmed: 0,
        unfinalization: 0,
        immature: 0,
        locked: 0,
        smallTitle: true
      }
    },

    mounted () {
      this.getSummaryinfo2()
    },
    created () {
      messageBus.$on('update', ()=>this.getSummaryinfo2())
    },
    methods: {
      getSummaryinfo: function() {
        this.$walletService.getSummaryInfo(10)
          .then( (res) => {
            this.spendable = res.data[1]['amount_currently_spendable']/100000000
            this.total = res.data[1]['total']/1000000000
            this.unconfirmed = res.data[1]['amount_awaiting_confirmation']/100000000
            this.locked = res.data[1]['amount_locked']/100000000
            this.$dbService.setSpendable(this.spendable)

            if(this.spendable.toString().length > 6)this.smallTitle=true
            }
          ).catch((error) => {
            this.$log.error('getSummaryinfo error:' + error)
            if (error.response) {
              let resp = error.response
              this.$log.error(`resp.data:${resp.data}; status:${resp.status};headers:${resp.headers}`)
            }
          })
      },
      getSummaryinfo2: function() {
        this.$walletService.getSummaryInfo2(10)
          .then( (res) => {
            let data = res.data.result.Ok
            this.spendable = data[1]['amount_currently_spendable']/100000000
            this.total = data[1]['total']/100000000
            this.unconfirmed = data[1]['amount_awaiting_confirmation']/100000000
            this.locked = data[1]['amount_locked']/100000000
            this.unfinalization = data[1]['amount_awaiting_finalization']/100000000
            this.immature = data[1]['amount_immature']/100000000
            this.$dbService.setSpendable(this.spendable)

            if(this.spendable.toString().length > 6)this.smallTitle=true
          }).catch((error) => {
            this.$log.error('getSummaryinfo error:' + error)
            if (error.response) {
              let resp = error.response
              this.$log.error(`resp.data:${resp.data}; status:${resp.status};headers:${resp.headers}`)
            }
          })
      }
    }
  }
</script>

<style>
#balances {
  min-height: 210px;
  padding: 0;
  z-index: 1;
  background-color: #FFDD57;
  background-repeat: no-repeat;
  background-image: url("../assets/epic-logo.svg");
  background-position: 45% 35%;
  background-size: 150%;
}

#balances-content {
  padding: 10px;
}

</style>
